.supplier_info_container,
.supplier_list_container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #fff;
}


/* transition: max-height 0.5s ease-out, opacity 0.5s ease-out; */

.supplier_info_container.show_container,
.supplier_list_container.show_container {
    padding: 30px;
    max-height: 800px;
    opacity: 1;
    background-color: #fff;
    border-radius: 5px 5px 10px 10px;
    margin: -20px 1px 20px 1px;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.custom_btn {
    color: #fff;
    background-color: #512DA8;
}

.custom_btn:hover {
    color: #fff;
    background-color: #6f44d1;
}

.page-item.active .page-link {
    background-color: #6f44d1 !important;
    border: 1px solid black;
    color: #fff !important;
    font-size: 13px;
}

.page-link {
    color: black !important;
    font-size: 13px;
}

.dataTables_wrapper .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#supplier_info_label,
#supplier_list_label {
    height: 40px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px
}

i {
    transition: all 0.3s ease;
}

#supplier_info_label.show i.arrow,
#supplier_list_label.show i.arrow {
    transform: rotate(-180deg);
}

@media (max-width: 720px) {
    .supplier-left {
        width: 100%;
        border: none !important;
    }
    .supplier-right {
        margin-top: -30px;
        width: 100%;
    }
}

@media (max-width: 560px) {
    .customBtn-clear {
        width: 100px;
    }
    .customBtn-save {
        width: 100px;
        margin-top: 10px;
    }
}