<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <security>
        <requestFiltering>
            <requestLimits maxQueryString="9012" />
        </requestFiltering>
    </security>
        <rewrite>
            <rules>
                <rule name="Rewrite">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="\.php$|\.css$|\.js$|\.jpeg$|\.jpg$|\.png$|\.gif$|\.bmp$|\.webp$|\.ico$|\.ttf$|\.woff$|\.woff2$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
